/* 
* Dropdown button: filter
 */

.dropdown {
    margin: 2rem;
    max-width: max-content;
    position: relative;

    .btn.dropdown-toggle {
        position: relative;
    }

    .btn {
        border-radius: 0.25rem;
        background-color: $color-primary-bg-dark;
        padding: 1rem 1.2rem;
    }

    .btn,
    .dropdown-item {
        color: $color-primary-txt-light;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        font-size: 1rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    }

    .dropdown-menu {
        border-radius: 0 0 0.25rem 0.25rem;
        position: absolute;
        margin-top: 0.9rem;
        width: 100%;
    }

    &.show .dropdown-item,
    &.show .dropdown-divider {
        display: none;
    }

    .dropdown-item {
        float: left;
        padding: 0.8rem 1.2rem;
    }

    & .dropdown-item,
    & .dropdown-divider {
        display: block;
    }

    .dropdown-menu {
        background-color: $color-primary-bg-dark;
    }

    &-divider {
        height: 0;
        margin: auto;
        overflow: hidden;
        border-top: 1px solid #fff;
        width: 80%;
    }

    .fas.fa-chevron-down,
    .fas.fa-chevron-up {
        margin: 0 0 0 1rem;
    }
}