/*
* Variables
*/

/* Colors */
$color-primary-txt-light: #fff;
$color-primary-txt-dark: #d3573c;
$color-primary-bg-dark: #901c1c;
$color-primary-bg-light: #fff;

$color-secondary-txt-dark: #901c1c;
$color-secondary-txt-initial: #000;
$color-secondary-txt-medium: #525252;
$color-secondary-bg-dark: #db8876;
$color-secondary-bg-light: #fff;
$color-secondary-bg-medium: #fafafa;

/* Breakpoints */
$breakpoints: (mobile: 599px, tablet:900px, desktop:1024px);