/* 
* Nav: with "tag" components
 */

.nav {

    @include mobile-only {
        margin: auto;
    }

    @include tablet-only {
        margin: auto;
        width: 550px;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 0;
    }
}